<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>81e4ac447bb142cd9e5c288f98eb6833</string>
	<key>secret</key>
	<string>411ecc82c3ed429ab2d3c60fefbca2b3</string>
</dict>
</plist>
